# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
env/
venv/
ENV/
VENV/
*.env
*.venv
.Python

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
static/

# Django migrations (optional to ignore if not yet shared)
*/migrations/*.py
!*/migrations/__init__.py

# VS Code
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/

# Coverage reports
htmlcov/
.coverage
coverage.xml
*.cover
*.py,cover

# pytest
.cache

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pipenv
Pipfile.lock

# Docker
*.pid
*.seed
*.pid.lock

# System files
Thumbs.db
desktop.ini
